---
import MovieCard from "../components/MovieCard.astro";
import Layout from "../layouts/Layout.astro";
import { fetchMovies } from "../services";

const movies = await fetchMovies();
---

<Layout title="My Movies - Islands Architecture">
  <section class="flex flex-row flex-wrap justify-between">
    {
      movies.map((movie) => {
        return (
          <a href={`/movies/${movie.id}`} class="w-full sm:basis-1/4 sm:w-20">
            <MovieCard movie={movie} />
          </a>
        );
      })
    }
  </section>
</Layout>
